<h4>Stadiums</h4>
<div class="row">
    <!-- filter div start -->
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <ul type="none"> Filter<hr>
                    <li>All Games</li>
                    <li *ngFor = " let games of game" (click)="onFilterGame(games)"> {{games}} </li>
                </ul>
                <ul type="none"> Pitch Type<hr>
                    <li *ngFor = " let pitch of pitch_type" (click)="onFilterPitch(pitch)"> {{pitch}} </li>
                </ul>
                <ul type="none">City<hr>
                    <li *ngFor = " let cityname of city" (click)="onFilterCity(cityname)" > {{cityname}}</li>
                </ul>
                <ul type="none"> Stadium Type<hr>
                <li class="checkbox" *ngFor = " let pitch of pitch_type">
                    <label><input type="checkbox" (click)="onFilterPitch(pitch)" [value]="pitch">{{pitch}}</label>
                </li>
                </ul>

                <ul type="none"><br>
                    <li ><button class="btn btn-primary">Search</button></li>
                    <li ><button class="btn btn-primary">Reset Filter</button></li>
                </ul>
            </div>
        </div>
    </div>
        <!--Filter div completed-->
        <!-- all stadiums -->
        <div class="col-md-9">
            <div class="row">
                <div class="col-4" *ngFor="let data of stadium">
                    <div class="card">
                        <div class="card-body">
                            <img src = "https://d1u4oo4rb13yy8.cloudfront.net/article/54089-dtfgxjmbef-1490098402.jpg">
                            <h6><b>{{data.stadium_name}}</b></h6>
                            <p>Location:{{data.stadium_address}}</p>
                            <p>Sport{{data.name}}</p>
                            <p>Pitch type:{{data.pitch_type}}</p>
                            <p>Ground type:{{data.ground_type}}</p>
                            <button class="btn btn-primary">Book stadium</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- all stadium complted --> 
</div>
