<!-- main rows starts -->
<div class="row">
  <!-- profile info block starts -->
      <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class=""><img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Luzhniki_Stadium2.jpg" alt="user" class="img-circle" width="150"></div>
                        <div class="p-l-20">
                            <h3 class="font-medium username">{{sortedstadium.stadium_name}}</h3>
                            <h6>{{stadiumProfile.email}}</h6>
                            <button class="btn btn-success"><i class="ti-plus"></i> Edit Profile</button><br><br>
                            <button class="btn btn-success" (click)="doBooking(sortedstadium.stadium_name)"><i class="ti-plus"></i> Booking</button>
                        </div>
                    </div>
                    <div class="row m-t-40">
                        <div class="col b-r">
                            <h2 class="font-light">100</h2>
                            <h6>Friends</h6></div>
                        <div class="col b-r">
                            <h2 class="font-light">03</h2>
                            <h6>Games</h6></div>
                        <div class="col">
                            <h2 class="font-light">145</h2>
                            <h6>Tasks</h6></div>
                    </div>
                </div>
                <div>
                    <hr>
                    
                </div>
                <div class="card-body">
                    <p class="text-center aboutscroll">
                        Lorem ipsum dolor sit ametetur adipisicing elit, sed do eiusmod tempor incididunt adipisicing elit.
                    </p>
                    <ul class="list-icons d-flex flex-item text-center">
                        <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Website"><i class="fa fa-globe font-20"></i></a></li>
                        <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="twitter"><i class="fa fa-twitter font-20"></i></a></li>
                        <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Facebook"><i class="fa fa-facebook-square font-20"></i></a></li>
                        <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Youtube"><i class="fa fa-youtube-play font-20"></i></a></li>
                        <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Linkd-in"><i class="fa fa-linkedin-square font-20"></i></a></li>
                    </ul>
                </div>
              </div>
          </div>
          <!-- profile info block end -->

<!-- profile information tab -->
  <div class="col-md-8">
      <div class="card">
          <div class="card-body">
              <h3 class="card-title">Personal information</h3>
              <h6 class="card-subtitle">manage your profiles</h6>
              <ngb-tabset type="pills">
                <ngb-tab title="Edit Profile">
                  <ng-template ngbTabContent>
                      <!-- Edit my profile block statrs -->
                          <div class="row"> 
                                  <div class="card card-body">
                                      <div class="col-sm-6">
                                          <h4 class="card-title">Edit Personal information</h4>
                               
                                      </div>
                                  </div>

                                  
                              </div>
                              <!-- edit my profile block completed -->
                  </ng-template>
                </ngb-tab>
                <!-- first tab completd -->

                <!-- starts second tab friends-->
                <ngb-tab>
                  <ng-template ngbTabTitle><b>Friends</b></ng-template>
                  <ng-template ngbTabContent>
                      <br>
                          <div class="d-flex flex-row">
                                  <div class="col-md-4 friends">
                                          <div class=""><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Saina_Nehwal_in_2011.jpg/220px-Saina_Nehwal_in_2011.jpg" alt="user" class="img-circle" width="100"></div>
                                          <div class="p-l-20">
                                              <h3 class="font-medium">{{stadiumProfile.name}}</h3>
                                              <h6>{{stadiumProfile.email}}</h6>
                                              <button class="btn btn-success"><i class="ti-plus"></i> Message</button>
                                          </div>
                                  </div>   <div class="col-md-4 friends">
                                          <div class=""><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Saina_Nehwal_in_2011.jpg/220px-Saina_Nehwal_in_2011.jpg" alt="user" class="img-circle" width="100"></div>
                                          <div class="p-l-20">
                                              <h3 class="font-medium">{{stadiumProfile.name}}</h3>
                                              <h6>{{stadiumProfile.email}}</h6>
                                              <button class="btn btn-success"><i class="ti-plus"></i> Message</button>
                                          </div>
                                  </div>   <div class="col-md-4 friends">
                                          <div class=""><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Saina_Nehwal_in_2011.jpg/220px-Saina_Nehwal_in_2011.jpg" alt="user" class="img-circle" width="100"></div>
                                          <div class="p-l-20">
                                              <h3 class="font-medium">{{stadiumProfile.name}}</h3>
                                              <h6>{{stadiumProfile.email}}</h6>
                                              <button class="btn btn-success"><i class="ti-plus"></i> Message</button>
                                          </div>
                                  </div>      
                          </div>

                  </ng-template>
                </ngb-tab>
                <!-- firends tab completed -->

                <!-- My booking tab starts -->
                <ngb-tab title="My Booking" >
                  <ng-template ngbTabContent>
                    <p  class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                    master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                    dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                    iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
              <!-- My booking tab ends -->

      </div>
      </div>
  </div>
  <!-- profile information tab ends -->
</div>
<!-- main row ends -->
