
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Doughnut Chart</h4>
            <h6 class="card-subtitle">This is the simple example of Doughnut chart</h6>
            <canvas baseChart height="175px"  [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" [colors]="[{backgroundColor: ['#009efb', '#55ce63', '#90a4ae']}]">
            </canvas>
        </div>
    </div>
